GIGACHAT_LLM_TOKEN=
GIGACHAT_MAX_TOKENS=200
GIGACHAT_MODEL=GigaChat-2
HOST=0.0.0.0
PORT=8000
PROMPT_FILE=config/prompt.txt
URLS_LIST_FILE_NAME=config/parse_list.txt
CORS_ORIGINS=0.0.0.0:8000,127.0.0.1:8000